import("lattice")
import("stringi")
#importFrom("stringi","stri_replace_all_fixed")
importFrom("FrF2","DanielPlot")
importFrom("grDevices", "grey")
importFrom("graphics", "axis", "par", "segments", "strheight")
importFrom("stats", "coef")
importFrom("FrF2", "IAPlot")
importFrom("FrF2", "MEPlot")
importFrom("FrF2", "pb")
importFrom("FrF2", "FrF2")
importFrom("stats", "formula","var","anova")
importFrom("utils", "capture.output")
importFrom("graphics", "abline", "lines", "plot", "text")
importFrom("grDevices", "colorRampPalette")
importFrom("stats", "coefficients", "cor", "lm", "median", "model.matrix", "pf", "qf", "qnorm", "qqnorm", "qt", "reformulate", "runif")
export(Fcrit,
       Fpower,
       Fpower1,
       Fpower2,
       Gaptest,
       gapstat,
       LenthPlot,
       LGB,
       LGBc,
       Tukey1df,
       vci,
       BIBsize,
       mod,
       fullnormal,
       halfnorm,
       Altscreen,
       ModelRobust,
       DefScreen,
       OptPB,
       PBDes,
       EEw1s1,
       EEw1s2,
       EEw1s3,
       EEw2s1,
       EEw2s2,
       EEw2s3,
       EEw3,
       fhstep,
       fhstepDS,
       firstm,
       fnextrm,
       fntrmDS,
       HierAFS,
       ihstep,
       colormap,
       FitDefSc
	   )
