# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
#exportPattern(".")
export(Fcrit,
       Fpower,
       Fpower1,
       Fpower2,
	     Gaptest,
	     gapstat,
	     LGB,
       LGBc,
	     Tukey1df,
	     vci,
	     BIBsize,
	     mod,
	     fullnormal,
       halfnorm,
	     Altscreen,
	     ModelRobust,
	     DefScreen,
	     OptPB,
	     EEw1s1,
	     EEw1s2,
	     EEw1s3,
	     EEw2s1,
	     EEw2s2,
	     EEw2s3,
	     EEw3,
	     ihstep,
	     fhstep,
	     bstep,
       colormap
	   )
import(lattice)
importFrom(FrF2,DanielPlot)
importFrom(FrF2, IAPlot)
importFrom(FrF2, MEPlot)
importFrom(FrF2, pb)
importFrom(FrF2, FrF2)
importFrom(BsMD, BsProb)
importFrom(BsMD, LenthPlot)