# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
#exportPattern(".")
export(Fcrit,
       Fpower,
	   Gaptest,
	   gapstat,
	   LGB,
	   Tukey1df,
	   vci,
	   BIBsize,
	   mod,
	   fullnormal,
	   Altscreen,
	   ModelRobust,
	   DefScreen,
	   OptPB,
	   EEw1s1,
	   EEw1s2,
	   EEw1s3,
	   EEw2s1,
	   EEw2s2,
	   EEw2s3,
	   EEw3,
	   ihstep,
	   fhstep,
	   bstep
	   )
